      <main id="add-form-container" class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Apresente a vaga preenchendo o formulário</h1>
          </div>
          <div id="form-box" class="col-md-12">
            <h3>Preencha os dados da melhor forma possível para encontrar seus futuro funcionário(a)</h3>
            <form action="/jobs/add" method="POST">
              <div class="mb-3">
                <label for="title">Título da vaga:</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Digite o título da vaga" required>
                <small id="titleHelp" class="form-text text-muted">Seja claro e objetivo</small>
              </div>
              <div class="mb-3">
                <label for="title">Descrição da vaga:</label>
                <textarea type="text" class="form-control" id="descricao" name="descricao" placeholder="Descreva as atividades do desenvolvedor" required></textarea>
              </div>
              <div class="mb-3">
                <label for="company">Nome da Empresa:</label>
                <input type="text" class="form-control" id="company" name="company" placeholder="Digite a empresa que vai contratar" required>
              </div>
              <div class="mb-3">
                <label for="email">Email para contato:</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Digite o email para contato" required>
              </div>
              <div class="mb-3">
                <label for="salario">Salário oferecido:</label>
                <input type="salario" class="form-control" id="salario" name="salario" placeholder="Digite o salário da vaga" required>
              </div>
              <input type="hidden" name="new_job" value="1">
              <button type="submit" class="btn btn-primary" >Enviar </button>
            </form>
          </div>
        </div>
      </main>